{%extends "layout.html"%}
{%block content%}

  <!-- Body -->
  <div class="col-lg-6">
    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
      <h3>About Us</h3>
      <p class="font-weight-light mb-0">We are the “Data Science Response Team” (DSRT) an all-volunteer coalition of data scientists, research scientists, physicians, and technologists from academia, industry, and the US government.  The DSRT provides a whole-of-society approach to the fight against COVID-19 by leveraging quantitative analysis that provides better insights for policy makers so that more lives may be saved.</p>
      <p></p>
      <p class="font-weight-light mb-0">We have created “Cadeus Covid” platform as an open-source, no-cost data science resource hub for policymakers, hospital administrators, and government officials at all levels to respond to the COVID-19 Pandemic.  Specifically, Caedus Covid exists to enable key decision makers in government and healthcare to make data-driven policy and operational decisions based on accurate and localized predictions surrounding caseloads and resources.</p> 
      <p></p>
      <p class="font-weight-light mb-0">DSRT, via the Caedus Covid platform, seeks to collaborate and coordinate with any and all existing efforts to help equip public health and emergency management decision makers with the very best:</p>
      <p class="font-weight-light mb-0">1. Community-level outbreak modeling</p> 
      <p class="font-weight-light mb-0">2. Hospital supply and resource modeling to include beds and ventilators</p>
    </div>
  </div>
  
  {%endblock%}