<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Caedus Covid</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/static/css/landing-page.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="/">Caedus Covid</a>
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/data">Data Models</a>
      <a class="nav-link" href="/about">About</a>
      <a class="nav-link disabled" href="#">Partners</a>
      <a class="nav-link disabled" href="#">Contact</a>

    </div>
  </nav>

  <!-- Body -->
  <div class="col-lg-6">
    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
      <h3>About Us</h3>
      <p class="font-weight-light mb-0">We are the “Data Science Response Team” (DSRT) an all-volunteer coalition of data scientists, research scientists, physicians, and technologists from academia, industry, and the US government.  The DSRT provides a whole-of-society approach to the fight against COVID-19 by leveraging quantitative analysis that provides better insights for policy makers so that more lives may be saved.</p>
      <p></p>
      <p class="font-weight-light mb-0">We have created “Cadeus Covid” platform as an open-source, no-cost data science resource hub for policymakers, hospital administrators, and government officials at all levels to respond to the COVID-19 Pandemic.  Specifically, Caedus Covid exists to enable key decision makers in government and healthcare to make data-driven policy and operational decisions based on accurate and localized predictions surrounding caseloads and resources.</p> 
      <p></p>
      <p class="font-weight-light mb-0">DSRT, via the Caedus Covid platform, seeks to collaborate and coordinate with any and all existing efforts to help equip public health and emergency management decision makers with the very best:</p>
      <p class="font-weight-light mb-0">1. Community-level outbreak modeling</p> 
      <p class="font-weight-light mb-0">2. Hospital supply and resource modeling to include beds and ventilators</p>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Caedus Covid 2020 </p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
