{%extends "layout.html"%}
{%block content%}

<div class="container">
    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
      <h2 style="text-align:center;white-space:pre-wrap;margin-top: 1rem;margin-bottom: 1rem;">Contact Us</h2>
      <p class="font-weight-light mb-0">Our team thrives on the contributions of our volunteers. We welcome fellow data scientists, medical professionals, technologists, and institutional partners to join our cause.</p>
      <p></p>
      <p class="font-weight-light mb-0;margin-bottom: 1rem;">Please email us your name, organizational affiliation, contact info, and how you’d like to help to <a href="mailto:info@caeduscovid.net">info@caeduscovid.net</a> and we’ll be in touch soon!</p> 
    </div>
  </div>

{%endblock%}