{%extends "layout.html"%}
{%block content%}
<div class="container">
  <div class="testimonial-item mx-auto mb-5 mb-lg-0">
    <h2 style="text-align:center;white-space:pre-wrap;margin-top: 1rem;margin-bottom: 1rem;">Data Modeling</h2>
    <p class="font-weight-light mb-0">Our mission is to accurately and effectively communicate relevant predictions based on the best available data and statistically sound models. We seek to identify the best “ground truth” models to predict for all 50 US states:</p>
    <p></p>
    <p class="font-weight-light mb-0">1. Disease curve trends</p>
    <p class="font-weight-light mb-0">2. Hospital capacity and medical equipment supplies</p>
    <p class="font-weight-light mb-0">3. Medical workforce capacity</p>
    <p class="font-weight-light mb-0">4. Efficacy of pandemic response policies</p>
    <p></p>
  </div>
</div>
<!-- Dash app iframe -->
<div class="container">
<p></p>
<h4>Instructions: Please select a state using the dropdown below.</h3>

<div style="width:100%; height:1100px;">
  <iframe src="https://dash-dot-caeduscovid-datalake.ue.r.appspot.com/" height="100%" width="100%" frameBorder="0"></iframe>
</div>
</div>
{%endblock%}
  
