{%extends "layout.html"%}
{%block content%}

<div class="container">
  <div class="testimonial-item mx-auto mb-5 mb-lg-0">
    <h2 style="text-align:center;white-space:pre-wrap;margin-top: 1rem;margin-bottom: 1rem;">Products</h2>
  </div>
</div>

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/img/covidnearme.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>CovidNearMe.org</h2>
        <p class="lead mb-0">CovidNearMe.org is a crowdsourcing platform that allows individuals to provide information about the COVID-19 pandemic in their area. COVIDNearMe allows users to share information about hospital capacity and needed supplies, local COVID-19 cases and recoveries, and to input symptoms to help identify new outbreaks. The platform also allows users to view trends in their community or to comment on a hospital experience. To learn more, and to input data, please visit 
          <a href="https://covidnearme.org">covidnearme.org.</a></p>
      </div>
    </div>
  </div>
</section>

{%endblock%}